body{
  
    background: grey;
     margin: 0 auto;
    
  }
  .gigante {
    
   width:100%;
   margin: 0 auto;
    
  }
  
  
  .titulo h1{
    
    background : white;
    margin: 0 auto;
    padding :10px 150px 10px 10px;

    text-align: center;
    
  }
  
  div.encabezado{
    
    background : white;
   margin-top:10px;
  }
  .photo img{
    width:100%;
    
  }
  
  .cuadrado {
    background : white;
    margin : auto;
    width:500px;
    
    
  }
  div.gigante h2 {
    padding:7px;
    margin:0;
    
  }
  div.gigante p{
    padding:7px;
    margin:0;
    
  } 
  div.gigante .encabezado div.titulo  {
    
    display: inline-block;
    width: 80%;
     
   
  }
  div.gigante .encabezado div.numero {
    
    display: inline-block;
    width: 15%;
   text-align: right;
   color:gray;
   
  }
  